@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  font-family: 'Poppins', sans-serif !important;
  background: linear-gradient(to bottom, rgba(12, 14, 16, 1), rgba(0, 29, 56, 1), rgba(0, 57, 112, 1), rgba(12, 14, 16, 1)) !important;
  color: #fff;
}

header {
  background: linear-gradient(180deg, rgba(0, 57, 112, 1) 0%, rgba(12, 14, 16, 1) 100%);
  height: auto;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header .header-logo {
  min-height: 75px;
}

.header .header-logo {
    padding: 5px 0 5px 0;
    min-height: 60px;
    margin-left: calc(max(2%, (100% - 1280px) / 2));
    display: flex;
    align-items: center;
    text-align: left;
}

.header .header-menu {
    font-family: 'title', helvetica, verdana, sans-serif;
    color: rgba(254, 254, 254, 1) !important;
    font-size: 0.95rem;
}

.header .header-menu {
    padding: 0;
    margin-right: calc(max(2%, (100% - 1280px) / 2));
    flex-grow: 1;
}

.header .header-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: 45px;
}

.header .header-menu .header-option {
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-top: 3px;
  border-bottom: solid 3px transparent;
  height: 40px;
}

.opciones-nav {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.opciones-nav:hover {
  text-decoration: none;
  color: rgb(0 160 222);
  font-weight: bold;
}

h1 {
  text-align: start;
}

.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cont-desc {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.cont-buscador {
  align-content: center;
    justify-content: center;
    display: flex;
    width: 30%;
    flex-wrap: wrap;
}

.desc {
  width: 100%;
}

#studentContainer {
  gap: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.cont-tarjetas {
  gap: 30px;
  justify-content: center;
}

.buscador {
  width: 100%;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
  width: 280px;
  background-color: #fff;
  background-image: url(../assets/images/bg-card.png);
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
  height: 400px !important;
}

.card:hover {
  transform: translateY(-5px);
}

.cont-fotos {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  padding: 5px;
  color: #042ea2;
}

.card-img-top {
  box-shadow: 2px 2px 15px 1px;
  border-radius: 50%;
  border: 5px inset #8c52ff;
  width: 50%;
  height: auto;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-size: 1.2rem;
  margin: 0 0 10px;
  color: #333;
}

.card-link {
  display: inline-block;
  margin-top: 10px;
  color: rgb(0 57 112);
  text-decoration: none;
  font-weight: bold;
}

.card-link:hover {
  text-decoration: none;
  color: rgb(12, 15, 48);
}

footer {
  background: linear-gradient(180deg, rgba(0, 57, 112, 1) 0%, rgba(12, 14, 16, 1) 100%);
}

/* Media query para pantallas de 992px o más */
@media (max-width: 992px) {

    /* Ajustes para el header */
    .header {
        flex-direction: column; 
        align-items: center;
        padding: 10px 0;
        height: auto;
    }

    .header .header-logo {
        margin-left: calc(max(2%, (100% - 1280px) / 2));
        margin-bottom: 0;
        text-align: left;
    }

    .header .header-menu {
        margin-right: calc(max(2%, (100% - 1280px) / 2)); 
        width: auto;
    }

    .header .header-menu ul {
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;
        gap: 30px;
    }

    .header .header-option {
        height: 40px;
        padding: 0;
        border-bottom: solid 3px transparent;
    }

    .container {
      margin-top: 50px;
    }

    /* Ajustes para el título y el buscador */
    .titulo {
        flex-direction: row;
        align-items: center;
        text-align: left;
    }

    .cont-buscador {
        width: 40%;
        margin-bottom: 20px;
    }

    /* Ajustes para la descripción */
    .cont-desc {
        margin-top: 20px;
    }

    .desc {
        text-align: left;
    }

    /* Ajustes para las tarjetas de estudiantes */
    #studentContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        max-width: none;
        margin-bottom: 20px;
    }

    /* Ajustes para el modal */
    .modal-dialog {
        max-width: 90%;
        margin: 1rem auto;
    }
}

/* Media Query para pantallas de 768 o más*/
@media (max-width: 768px) {

    /* Ajustes para el header */
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        height: auto;
    }

    .header .header-logo {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .header .header-menu {
        margin-right: 0;
        width: 100%;
    }

    .header .header-menu ul {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1px;
    }

    .header .header-option {
        height: auto;
        padding: 10px 0;
        border-bottom: none;
    }

    .container {
      margin-top: 200px;
    }

    /* Ajustes para el título y el buscador */
    .titulo {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cont-buscador {
        width: 40%;
        margin-bottom: 20px;
    }

    /* Ajustes para la descripción */
    .cont-desc {
        margin-top: 0;
    }

    .desc {
        text-align: center;
    }

    /* Ajustes para las tarjetas de estudiantes */
    #studentContainer {
        flex-direction: row; 
        flex-wrap: wrap;    
        justify-content: center;
        gap: 10px;
    }

    .card {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
        gap: 10px;
    }

    /* Ajustes para el modal */
    .modal-dialog {
        max-width: 90%;
        margin: 1rem auto;
    }
}

/* Media query para pantallas de 576px o más */
@media (max-width: 576px) {

    /* Ajustes para el header */
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        height: auto;
    }

    .header .header-logo {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .header .header-menu {
        margin-right: 0;
        width: 100%;
    }

    .header .header-menu ul {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .header .header-option {
        height: auto;
        padding: 10px 0;
        border-bottom: none;
    }

    .container {
      margin-top: 200px;
    }

    /* Ajustes para el título y el buscador */
    .titulo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cont-buscador {
        width: 90%;
        margin-bottom: 20px;
    }

    /* Ajustes para la descripción */
    .cont-desc {
        margin-top: 0;
    }

    .desc {
        text-align: center;
    }

    /* Ajustes para las tarjetas de estudiantes */
    #studentContainer {
        flex-direction: column;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        margin-left: 0px;
        gap: 20px;
    }

    .card {
        width: 70%;
        max-width: 400px;
        margin-bottom: 20px;
        margin-left: 85px;
    }

    .card-body {
      padding: 10px;
    }

    /* Ajustes para el modal */
    .modal-dialog {
        max-width: 90%;
        margin: 1rem auto;
    }
}

/* Media query para pantallas de 575px o menos */
@media (max-width: 575px) {

    /* Ajustes para el header */
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        height: auto;
    }

    .header .header-logo {
        margin-left: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    .header .header-menu {
        margin-right: 0;
        width: 100%;
    }

    .header .header-menu ul {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .header .header-option {
        height: auto;
        padding: 10px 0;
        border-bottom: none;
    }

    .container {
      margin-top: 200px;
    }

    /* Ajustes para el título y el buscador */
    .titulo {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .cont-buscador {
        width: 90%;
        margin-bottom: 20px;
    }

    /* Ajustes para la descripción */
    .cont-desc {
        margin-top: 0;
    }

    .desc {
        text-align: center;
    }

    /* Ajustes para las tarjetas de estudiantes */
    #studentContainer {
        flex-direction: column;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        margin-left: 0px;
        gap: 20px;
    }

    .card {
        width: 70%;
        max-width: 400px;
        margin-bottom: 20px; /* Añade espacio entre las tarjetas */
    }

    .card-body {
      padding: 10px;
    }

    /* Ajustes para el modal */
    .modal-dialog {
        max-width: 90%;
        margin: 1rem auto;
    }
}

